@import '/src/scss/variables';

.work{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 40px;

  &-wrapper{
    width: 800px;
    height: 466.05px;
    padding: 50px 60px  ;
    overflow-x: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #E1E2E6, 0px 0px 0px 1px #E6E7EB;
  }

  &-info{
    height: 137.93px;
    background: #F8F8F9;
    box-shadow: inset 0px 0px 0px 1px rgba(34, 36, 38, 0.22);
    border-radius: 4px;
    padding: 13px 20px;
    margin-bottom: 14px;

    h3{
      margin: 0 0 11px 0;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.87);
    }

    span{
      p{
        margin: 0 0 3px 20px;
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;

    &-create{
      width: 330px;
      height: 184.13px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
      span{
        width: 100px;
        height: 44px;
        background: rgba(255, 255, 255, 0.002);
        box-shadow: inset 0px 0px 0px 1px rgba(34, 36, 38, 0.15);
        border-radius: 4px; 
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;

        
      }
    }

    &-child{
      width: 330px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
      border-radius: 4px;
    }

    &-head{
      display: flex;
      align-items: center;
      padding-top: 14px;
      padding-left: 13px;
      cursor: pointer;

      >span{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: rgb(131, 131, 131);
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
      }

      div{
        margin-left: 24.5px;

        p{
          margin: 0;
          font-family: $font-family-poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.25px;
          color: #000000;
        }

        span{
          font-family: $font-family-poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }

    &-body{
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);

      span{
        display: flex;
        margin-left: 15px;
        margin-bottom: 10px;

        svg{
          color: rgb(148, 148, 148);
        }

        p{
          margin: 0 0 0 5px;
          font-family: $font-family-poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #4183C4;
          cursor: pointer;
          width: fit-content;
        }
      }
    }
  }
}