@import '/src/scss/variables';

.edit{
  &-body{
    width: 700px;
    margin: 0 auto; 
  }

  &-title{
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 26.6px;
    line-height: 34px;
    color: #33425B;
    text-align: center;
  }

  &-line{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 49%;
      background: rgb(216, 216, 216);
    }

    span{
      font-family: $font-family-poppins;
      font-style: normal;
      position: relative;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.85);
      background: #fff;
      padding: 0 10px;
    }
  }

  &-head{
    display: flex;
    justify-content: space-between;
    border-width: 0.833333px 0px;
    border-style: solid;
    border-color: rgba(34, 36, 38, 0.15);
    padding: 7px 10px 7px 20px;
  }

  &-editBtn{
    width: 120.27px;
    height: 38.77px;
    background: #015589;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }

  &-closer{
    width: 38.48px;
    height: 38.77px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: inset 0px 0px 0px 1px rgba(34, 36, 38, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-input{
    margin-top: 18px;

    p{
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: rgba(51, 66, 91, 0.8);
      margin: 0 0 5.5px 0;
      align-items: center;
      display: flex;

      span{
        color: #DB2828;
        margin-left: 5px;
      }

      button{
        background: none;
        margin: 0;
        width: 17px;
        margin-left: 5px;
        height: 17px;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center ;
        color: #cacaca;
        font-size: 10px;
      }
    }

    input{
      width: 100%;
      height: 38.05px;
      background: #FFFFFF;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 4px;
      outline: none;
      padding: 0 15px;
    }

    label{
      width: 100%;
      height: 38.05px;
      background: #FFFFFF;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 4px;
      display: flex;
      align-items: center;

      input{
        width: 95%;
        height: 100%;
        border: none;
      }

      span{
        cursor: pointer;
        width: 27.99px;
        height: 27.99px;
        background: rgba(255, 255, 255, 0.002);
        box-shadow: inset 0px 0px 0px 1.4px rgba(0, 0, 0, 0.05);
        border-radius: 7000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .5;
        transition: .3s;

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  &-upload{
    margin-top: 22px;

    h3{
      margin: 0 0 8px 0;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: rgba(51, 66, 91, 0.8);
    }

    .input-file {
      position: relative;
      display: block;
      align-self: center;
      height: 110px;
      border: 2px dashed rgba(34, 36, 38, 0.15);
      border-radius: 10px;

      span{
        margin-right: 10px;
        line-height: 140%;
      }

      &-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;
        outline: none;
        text-decoration: none;
        vertical-align: middle;
        color: #9A9A9A;
        border-radius: 4px;
        line-height: 100%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        transition: background-color 0.2s;

        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 9.8px;
        line-height: 12px;
        color: rgba(51, 66, 91, 0.8);

        p{
          font-family: $font-family-poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 15px;
          color: rgba(51, 66, 91, 0.8);
          margin: 0 0 7.5px 0;
        }
      }

      &-text {
        padding: 0 10px;
        padding-left: 0;
        line-height: 40px;
        display: inline-block;
        font-size: 14px;
        color: #b1b1b1;
      }
    }

    .input-file input[type='file'] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }
  }
}