@import '/src/scss/variables';

.discount{
  padding: 30px 60px 40px 60px;
  width: 800px;

  &-head{
    h3{
      margin: 0 0 3px 0;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(51, 66, 91, 0.8);
    }

    div{
      display: flex;
      justify-content: space-between;

      input{
        width: 124px;
        height: 37.64px;
        background: #FFFFFF;
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 4px;
        text-align: right;
        padding: 0 15px;
        outline: none;

        &::placeholder{
          font-family: $font-family-roboto;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: rgba(179, 179, 179, 0.7);
        }
      }
    }
  }

  &-line{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 14px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 49%;
      width: 100%;
      height: 1px;
      background: rgb(204, 204, 204);
    }

    h3{
      margin: 0;
      position: relative;
      padding: 0 10px;
      background: #fff;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.85)
    }
  }

  &-rules{
    display: flex;
    justify-content: space-between;

    div{
      width: 333px;

      input{
        margin-bottom: 21px;
      }
    }
    
    &__price{
      input{
        width: 100%;
        height: 37.64px;
        background: #FFFFFF;
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 4px;
        outline: none;
        text-align: right;
        padding: 0 10px;

        &::placeholder{
          font-family: $font-family-poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: rgba(179, 179, 179, 0.7);
        }
      }
    }

    &__procent{
      input{
        width: 100%;
        height: 37.64px;
        background: #FFFFFF;
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 4px;
        outline: none;
        padding: 0 10px;

        &::placeholder{
          font-family: $font-family-poppins;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: rgba(179, 179, 179, 0.7);
        }
      }
    }

    h3{
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: rgba(51, 66, 91, 0.8);
      margin: 0 0 3px 0;
    }
  }

  &-saver{
    margin-top: 5px;
    width: 137.67px;
    height: 44.32px;
    background: $app-main-color;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}