@import '/src/scss/variables';

.cash{
  display: flex;
  justify-content: space-between;
  height: 47px;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

  button{
    width: 50%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    font-family: $font-family-poppins;
    font-weight: 500;
    line-height: 24.167px;
  }

  .active{
    color: #015589;
    border-bottom: 2px solid #015589;
  }
}