@import '/src/scss/variables';

.info{
  padding-bottom: 50px;

  &-head{
    padding: 24px;
    background: $app-main-color;
    text-align: center;

    h3{
      text-align: left;
      margin: 0;
      margin-top: 25px;
      color: #FFF;
      font-size: 25px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 24.167px;
    }
  }

  &-changer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #B8B8B8;
    height: 53px;

    button{
      width: 50%;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      color: #000;
      font-size: 15px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 600;
      line-height: 24.167px;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -1px;
        background: $app-main-color;
        display: none;
      }
    }

    .active{
      color: #015589;

      &::before{
        display: block;
      }
    }
  }

  &-drop{
    padding: 20px;
    padding-bottom: 0;

    &-image{
      margin-top: 20px;

      span{
        color: #015589;
        font-size: 15px;
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 24.167px;
        cursor: pointer;
      }
    }
  }

  &-drop-head{
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    p{
      margin: 0;
      color: #000;
      font-size: 15px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 24.167px;
    }

    svg{
      font-size: 18px;
    }

    &-child{
      width: 230px;
      display: flex;
      justify-content: space-between;
    }
  }

  #active{
    p{
      color: #B8B8B8;
    }

    svg{
      color: #B8B8B8;
    }
  }

  &-drop-body{
    width: 230px;
    margin-top: 20px;

    p{
      margin: 0 0 5px 0;
      display: flex;
      justify-content: space-between;
      color: #B8B8B8;
      font-size: 12px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 24.167px;
    }

    b{
      display: flex;
      justify-content: space-between;
      color: #000;
      font-size: 15px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 24.167px;
      margin-bottom: 3px;
    }
  }

  &-history{
    padding: 20px;
    
    p{
      margin: 0;
      color: #000;
      font-size: 15px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 24.167px;
    }
  }
}