@import '/src/scss/variables';

.email{
  padding: 40px 60px;
  width: 800px;

  &-head{
    margin: 0;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.87);
  }

  &-link{
    margin-top: 45px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;

    >p{
      margin: 0 0 0 12px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.95);
    }
  }

  &-hour{
    margin-top: 20px;

    h3{
      margin: 0;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: rgba(51, 66, 91, 0.8);
    }
  }

  &-drop{
    width: 100%;
    height: 38.78px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: inset 0px 0px 0px 1px #2185D0;
    border-radius: 4px;
    position: relative;

    &-head{
      margin-top: 7.5px;
      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2185D0;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 22px;
      cursor: pointer;
    }

    &-list{
      position: absolute;
      background: #FFFFFF;
      border: 1px solid rgba(34, 36, 38, 0.15);
      box-shadow: 0px 2px 4px rgba(34, 36, 38, 0.12), 0px 2px 10px rgba(34, 36, 38, 0.15);
      border-radius: 4px;
      overflow: hidden;
      width: 100%;

      span{
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.85);
        pointer-events: none;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
        display: block;
      }

      p{
        margin: 0;
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.87);
        padding: 0 15px;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover{
          background: rgb(237, 237, 237);
        }
      }
    }
  }

  &-saver{
    margin-top: 22px;
    width: 137.67px;
    height: 44.32px;
    left: 0px;
    top: 189.13px;
    background: $app-main-color;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}